.button-normal {
  -fx-background-color: #007bff;
  -fx-text-fill: white;
}

.button-selected {
  -fx-background-color: #28a745;
  -fx-text-fill: white;
}

.button-normal:hover,
.button-selected:hover {
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}

.gridpane {
  -fx-padding: 0; /* Pas de marge interne */
  -fx-border-color: none; /* Pas de bordures */
  -fx-hgap: 0; /* Pas d'espace horizontal entre les cellules */
  -fx-vgap: 0; /* Pas d'espace vertical entre les cellules */
}

.resource-labels {
  -fx-alignment: center-left; /* Align all labels à gauche */
  -fx-padding: 10; /* Ajouter un peu de marge intérieure */
  -fx-spacing: 15; /* Espacement entre les labels */
}
